<div class="body" style="color: {{activeSideBarItem.colorScheme.primary}};">
  <div class="sidebar">
    <div class="logo" routerLink="/home" (click)="navigate(sidebarItems[0])">
      Dashboard
    </div>
    <button mat-button class="sidebar-item"
            *ngFor="let item of sidebarItems" [routerLink]="item.link"
            (click)="navigate(item)" [ngClass]="{'active': item.is_active}"
            style="background: {{item.is_active ? activeSideBarItem.colorScheme.primary : 'transparent'}};
            color: {{item.is_active ? activeSideBarItem.colorScheme.altText : activeSideBarItem.colorScheme.primary}};" >
      <mat-icon>{{item.icon}}</mat-icon><span>{{item.name}}</span>
    </button>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
